.center {
  position: relative;
  width: 100%;
}
.center__text {
  font-size: 2vw;
  text-align: center;
  font-family: 'Source Sans Pro', cursive;
  color: rgb(12, 12, 12);
  padding: 16px;
}

.center__image {
  border: none;
  border-radius: 5px;
  opacity: 1;
  display: block;
  width: 70%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin-right: auto;
  margin-left: auto;
}
